body, #content, .newrinfbubble .newmainlinebubblebottom, .newmyregionbubble .newmainlinebubblebottom, .popupbox, #notices li, .noticestypeicon i {
    background-color: #282C34;
}

#main, #panel, .panelcontent, #banner, #paneltitle, #createdby, #footbar, #foot #toplink, #foot #toplink2, .newmainlinebubble, .newmainlinebubbletop, #panel ul.popoutmenu, fieldset, .minorinfo {
    background-color: #21252B;
}

#banner .bel:hover, #banner a.bellink:hover, #banner .bel:hover bellink i, #banner .bel.clicked i, #panel .menu li:hover, #panel .submenu li:hover, #panel .menu a:hover, #panel .submenu a:hover, #panel .threads li:hover, #panel .threads a:hover, #panel li:hover i, #notices li.clickablenotice:hover, .clickablenotice:hover i {
    background-color: #333842;
}

#notices li.newnotice, .newnotice .noticestypeicon i {
    background-color: #3f4755
}

#banner a.bellink:hover, #lthreads, #footbar, .adidentifier {
    color: #ccc;
}

#banner a.quietlink:hover {
    text-decoration: underline;
}

#panel li:hover i, #banner .bel .bellink i {
    transition: background-color .75s ease-out;
}

#banner .belspacermain {
    background-image: none;
}

#footbar {
    border-top: none;
}

#footbar:hover {
    background-color: #21252B;
}

body, #banner .bel .bellink i, #banner .bel, .newtitlecategory, .newrinfbubble .newmainlinebubblebottom, .newmyregionbubble .newmainlinebubblebottom, .officerbar, .paneltext, #panel li i, #panel ul.popoutmenu li i, #panel ul.popoutmenu li a, .popupboxcontent, #notices li div.noticestypeicon, #banner .bannernation a.bellink, .minorinfo {
    color: #ccc;
}

a.quietlink:link, a.quietlink:visited, a.quietlink:hover, a.rlink, #noticefooter a:link, h1 a:link, a:link {
   color: #f97e72;
}

h1 a:link, h1 a:visited, h1 a:hover, .newtitlename, #banner .bel .bellink i, #banner .bel, .newtitlepretitle, .newmainlinebubble, .newmainlinebubbletop, .newmainlinebubblebottom, .paneltext, #panel li i, #panel ul.menu a, #noticefooter a:link, .adidentifier, #banner .bannernation a.bellink {
    text-shadow: none;
}

.newtitlepretitle, .slogan {
    color: rgba(231, 231, 231, 0.6);
}

.newmainlinebubbletop {
    color: #abb2bf;
}

.newmainlinebubble, .popupbox {
    border: none;
}

a:visited, h1 a:visited, #noticefooter a:visited {
    color: #f65040
}

#banner .bel:hover, #banner a.quietlink:hover {
    background-color: transparent;
}

#banner a.quietlink:hover {
    color: #ccc;
}

#banner .bannernation2 {
    background: radial-gradient(160% 60% at 50% 53%, rgba(40,44,52,1) 35%, rgba(40,44,52,0.80) 45%, rgba(40,44,52,0) 100%);
}

.deckcard-season-1, .deckcard-desc {
    background-color: #fff;
}

.deckcard-category {
    color: white;
}
